  body{
            background-color: powderblue;
        }
        hr{
           border-style:dotted none none;
           border-color:"grey";
            border-width:"15px";
        }
h1{
  color:"red";
}
