body{
    margin: 0;
    text-align: center;
    font-family:fantasy;
}
.first
{
    background-color:rgb(228, 249, 245);
    text-align: center;
    font-family:cursive ;
}
.cloud1
{
    position: relative;
    left: 300px;
    top: 30px;
}
.pro
{
    text-decoration:underline;
}
.cloud2
{
    position: relative;
    right:300px;
}
.second
{
    background-color:white;
    text-align: center;
}
.mypic
{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    position: relative;
    margin:50px;
}
hr
{
border:dotted 6px;
color:red;
width:5%;
border-bottom: none;
margin:100px auto;
}
.dd
{
    position: relative;
    right:300px;
    margin:50px auto;
}
.run
{
    background-color: aqua;
}
.third
{
    background-color: aqua;
    margin:80px;
}
