  body{
            background-color:#E4F9F5;
        }
        hr{
           border-style:dotted none none;
           border-color:grey;
           border-width:5px;
}
h1{
  color:black;
}
.p{
  color:red;
}
.b{
  color:blue;
}
#social{
  color:grey;
}
.circular
{
  border-radius:100%;
}
.centering
{
  text-align:center;
}
.cloud
{
  position:relative;
  left:200px;
}
